<div class="container mt-4">
    <!-- Action Buttons and Static Fields Row -->
    <div class="row">
        <div class="col-md-3 mb-3">
          
            <input class="form-control" type="text" placeholder="Static Text Box" aria-label="Static Text Box"
            [(ngModel)]="searchtext"
            (ngModelChange)="onSearchChange()" >
        </div>
        <div class="col-md-auto mb-3">
           
            <button class="btn btn-primary" type="button" (click)="onSearchClick()">search</button>
        </div>
    </div>

    <!-- Jobs Grid Row -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Location</th>
                        <th scope="col">Contact Person</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobs">
                        <td>{{ job.companyName }}</td>
                        <td>{{ job.jobName }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.qualification }}</td>
                        <td>{{ job.salary }}</td>
                        <td>{{ job.location }}</td>
                        <td>{{ job.contactPerson }}</td>
                        <td>{{ job.phoneNumber }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                            <!-- WhatsApp Icon -->
                            <button (click)="SendWhatsupMessage(job)" style="background: none; border: none;">
                                <i class="fab fa-whatsapp me-2 fa-2x" style="color: #25D366; font-size: 20px;"></i>
                            </button>

                            <!-- Message to Phone Icon -->
                            <!-- <button (click)="SendSms(job)" style="background: none; border: none;">
                                <i class="fas fa-comment-alt me-2 fa-2x" style="color: #555; font-size: 20px;"></i>
                            </button> -->

                            <!-- Mail Icon -->
                            <button (click)="SendEmail(job)" style="background: none; border: none;">
                                <i class="fas fa-envelope fa-2x" style="color: #333; font-size: 20px;"></i>
                            </button>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- No profiles message -->
            <p *ngIf="!jobs.length" class="text-center text-muted">
                No matched jobs found for your preffered Location - {{currentuser.location}}.
                <br/>
                Configure for all locations to see multiple job openings.
            </p>
            <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
        </div>
    </div>
</div>