<nav class="navbar navbar-custom navbar-expand-sm navbar-custom">
  <a class="navbar-brand ms-3" href="#">
    Job Portal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]=" [ '/dashboard' ] " routerLinkActive="active">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]=" [ '/announcements' ] " routerLinkActive="active">Announcements</a>
      </li>
      <!--Organisation specific  jobs -->
      <ng-container *ngIf="loginService.currentUserName != null && (loginService.currentUserRole == 'Employer')">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/posting' ] " routerLinkActive="active">Jobs</a>
        </li>
      </ng-container>
      <!-- All jobs -->
      <ng-container
        *ngIf="loginService.currentUserName != null && (loginService.currentUserRole == 'Employee'|| loginService.currentUserRole == 'Admin' )">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/job' ] " routerLinkActive="active">Opportunities</a>
        </li>
      </ng-container>

      <ng-container
        *ngIf="loginService.currentUserName != null && (loginService.currentUserRole == 'Employer' || loginService.currentUserRole == 'Admin')">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/newposting' ] " routerLinkActive="active">Create New Job</a>
        </li>
      </ng-container>

      <ng-container
        *ngIf="loginService.currentUserName != null && (loginService.currentUserRole == 'Employer' || loginService.currentUserRole == 'Admin')">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/allprofiles' ] " routerLinkActive="active">All Profiles</a>
        </li>
      </ng-container>

      <ng-container *ngIf="loginService.currentUserName != null && (loginService.currentUserRole == 'Admin' )">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/subscribe' ] " routerLinkActive="active">Add Alerts To Jobs</a>
        </li>
      </ng-container>

      <ng-container *ngIf="loginService.currentUserName == null">
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/login' ] " routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" [ '/signup' ] " routerLinkActive="active">Sign Up</a>
        </li>
      </ng-container>


    </ul>

    <div class="ml-auto d-flex justify-content-end">
      <ng-container *ngIf="loginService.organisationName != null">
        <div class="nav-item mr-2">
          <span class="nav-link"><strong>Welcome to {{ loginService.organisationName }}</strong></span>
        </div>
      </ng-container>
      <ng-container *ngIf="loginService.organisationName == null && loginService.currentUserName!=null">
        <div class="nav-item mr-2 " style="flex-direction: column;">
          <span class="nav-link" style="margin-bottom: 5;"><strong>Welcome to {{ loginService.currentUserName }}</strong></span>
          <span class="nav-link" *ngIf="(loginService.currentUserRole != 'Employer' && loginService.currentUserRole != 'Admin')"><strong>Prefferd Location: {{ loginService.location }}</strong></span>
        </div>
      </ng-container>
      <ng-container *ngIf="loginService.currentUserName != null">
        <button class="btn btn-warning me-3" (click)="logout()">Logout</button>
      </ng-container>
    </div>



  </div>
</nav>

<div class="container-fluid">
  <router-outlet #outlet="outlet"></router-outlet>
</div>