<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <div class="row">
    <div class="col-lg-6 col-xl-5 col-md-9 mx-auto">
      <div class="card mt-4">
        <div class="card-header bg-secondary text-white">
          <h3>Sign Up</h3>
        </div>

        <div class="card-body">
          <!-- User Name Field -->
          <div class="form-group form-row">
            <label for="comapnyName" class="col-md-4 col-form-label">Company Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="userName" placeholder="Company Name" name="CompanyName"
                ngModel required>
            </div>
          </div>

          <!-- Job Name Field -->
          <div class="form-group form-row">
            <label for="comapnyName" class="col-md-4 col-form-label">Job Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="userName" placeholder="Job Name" name="JobName" ngModel
                required>
            </div>
          </div>

          <!-- Job description -->
          <div class="form-group form-row">
            <label for="JOb description" class="col-md-4 col-form-label">Job Description</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="Description" placeholder="Job Description"
                name="Description" ngModel required>
            </div>
          </div>

          <!-- Qualification -->
          <div class="form-group form-row">
            <label for="phoneNumber" class="col-md-4 col-form-label">Qualification</label>
            <div class="col-md-8">
              <!-- <input type="text" class="form-control" id="Qualification" placeholder="Qualification" name="Qualification" ngModel required> -->
              <select class="form-control" id="qualification" name="Qualification" ngModel required>
                <option value="">Select Qualification</option>
                <option value="No Education">No Education</option>
                <option value="Tenth">Tenth</option>
                <option value="Inter">Inter</option>
                <option value="Degree">Degree</option>
                <option value="Btech">Btech</option>
              </select>
            </div>
          </div>

          <!-- Salary Field -->
          <div class="form-group form-row">
            <label for="salary" class="col-md-4 col-form-label">Salary Offered</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="Salary" placeholder="Salary" name="Salary" ngModel required>
            </div>
          </div>

          <!-- Location Field -->
          <div class="form-group form-row">
            <label for="location" class="col-md-4 col-form-label">Location</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="Location" placeholder="Location" name="Location" ngModel
                required>
            </div>
          </div>

        </div>

        <div class="card-footer   text-right">
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>